APP_PORT=3333
APP_WEB_URL=http://localhost:3000

SECRET_KEY=any_key
SECRET_EXPIRES="1d"

DB_CONNECTION=postgres

POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_DB=apivendas
POSTGRES_USER=postgres
POSTGRES_PASSWORD=docker

PGADMIN_PORT=8000
PGADMIN_EMAIL=admin@admin.com
PGADMIN_PASSWORD=admin

PASSWORD_RESET_EXPIRATION_HOURS=2
